<!DOCTYPE html>
<html>

   <head>
      <title>Image Search - ninjazim</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/d522bd85-3816-4409-9649-5f7116e2e6cb%2Ffavicon.ico?1512010934540" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <img src="https://cdn.glitch.com/d522bd85-3816-4409-9649-5f7116e2e6cb%2Fshort-stack.png?1512010934606" width="250px"/>
         <h1>Image Search Abstraction Layer</h1>
          <ul>
            <li><strong>Searching for images:</strong></li>
            <li>Pass a string as a parameter to <span>/api/imagesearch/:query</span></li>
            <li><em>Example: <span><a href="https://short-stack.glitch.me/api/imagesearch/pancakes">/api/imagesearch/pancakes</a></span></em></li>
            <li>Add an offset paramater with a number to see a different page of results</li>
            <li><em>Example: <span><a href="https://short-stack.glitch.me/api/imagesearch/pancakes?offset=2">/api/imagesearch/pancakes?offset=2</a></span></em></li>
        </ul>
         <ul>
           
            <li><strong>Viewing recent searches:</strong></li>
            <li>To see a list of the 10 most recent searches, navigate to <span><a href="https://short-stack.glitch.me/api/imagesearch/recent">/api/imagesearch/recent</a></span></li>
        </ul>
      </div>
  
      <div class="footer">
       <p>
         <a href="https://www.freecodecamp.org/ninjazim">freecodecamp.org/ninjazim</a>
       </p>
       <p>
         <a href="https://github.com/ninjazim/image-search">github.com/ninjazim/image-search</a>
       </p>
       
     </div>
   </body>

</html>
